<script type="text/javascript">
<% @date= Time.now%>
  $(document).on('ready', function () {
    document.getElementById("month").innerHTML =
    "<%="#{@date.strftime("%B")} - #{@date.month} - #{@date.year}"%>"
    myFunction2();
  });

  function prev() {
    console.log("<%="#{@date.month}"%>");
    <% @date = @date.months_since(-1)%>;
    document.getElementById("month").innerHTML =
    "<%="#{@date.strftime("%B")} - #{@date.month} - #{@date.year}"%>";
    console.log("<%="#{@date}"%>");
  }

  function next() {
    console.log("<%="#{@date.month}"%>");
    <% @date = @date.months_since(+1)%>;
    document.getElementById("month").innerHTML =
    "<%="#{@date.strftime("%B")} - #{@date.month} - #{@date.year}"%>";

    console.log("<%="#{@date.month}"%>");
  }

  function myFunction2(){
    var table = document.getElementById("myTable");
    <% days = Time.days_in_month(@date.month, @date.year)%>
    <% for d in 0..(days-1) do %>
      var row = table.insertRow(1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);
      var cell6 = row.insertCell(5);
      cell1.innerHTML  = "<%="#{days - d} - #{@date.wday}"%>";
    <% end %>
  }

</script>


<nav>
    <div class="btn-group col-md-5"></div>
    <div class="btn-group col-md-6">
        <button type="button" class="btn btn-default" onclick="prev()"> << Prev </button>
        <button type="button" class="btn btn-success" id="month"></button>
        <button type="button" class="btn btn-default" onclick="next()"> Next >> </button>
    </div>

</nav>
<div class="col-md-12">
    <table class="col-md-12 table table-bordered" id="myTable">

      <tr class="cabins">
          <td>
              Dias</td>
          <td>
              cabaña </td>
          <td>
              cabaña 2</td>
          <td>
              cabaña 3</td>
          <td>
              cabaña 4</td>
          <td>
              cabaña 5</td>
      </tr>

    </table>
</div>
